/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue-1: #03045E;
  --blue-2: #023E8A;
  --blue-3: #0077B6;
  --white: #FFFF;
  --green-gray: rgb(14, 30, 31);
}

span{
  font-family: 'Raleway', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
}
.loader {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.network-status {
  position: fixed;
  top: -100px; /* Start off-screen */
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: top 0.5s ease; /* Smooth transition */
  width: 90%; /* Set width to 90% for mobile */
  max-width: 400px; /* Set a max width for larger screens */
}

.network-status.visible {
  top: 20px; /* Move into view */
}

.network-status.hidden {
  top: -100px; /* Move off-screen */
}

.status-message {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the message */
}

/* Styles for the online message */
.online-message {
  color: rgb(56, 56, 56);
}

/* Styles for the offline message */
.offline-message {
  background: transparent; /* Semi-transparent red */
  color: rgb(58, 57, 57);
}

/* Dot styles */
.green-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(31, 250, 31);
  border-radius: 50%;
  margin-left: 10px;
}

.red-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 25, 25);
  border-radius: 50%;
  margin-left: 10px;
}

/* Media queries for better responsiveness */
@media (max-width: 600px) {
  .network-status {
    padding: 10px 15px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Slightly smaller font size */
  }

  .green-dot, .red-dot {
    width: 8px; /* Smaller dots for mobile */
    height: 8px;
  }
}

@media (max-width: 400px) {
  .network-status {
    padding: 8px 12px; /* Further adjust padding for very small screens */
    font-size: 12px; /* Even smaller font size */
  }
}
